<!DOCTYPE html>
<html ng-app="cs-angular" xmlns="http://www.w3.org/1999/html">
<head lang="en">
  <meta charset="UTF-8">
  <title>AngularJS</title>
  <link rel="stylesheet" href="bootstrap.min.css"/>
</head>
<body ng-controller="StoreController as store">
  <ul class="list-group">
    <li class="list-group-item" ng-repeat="product in store.products | orderBy:'price'">
      <h3>{{ product.name }}
        <em class="pull-right">{{ product.price | currency }}</em>
      </h3>
      <div class='gallery' ng-controller="GalleryController as gallery">
        <img ng-src="{{ product.img[gallery.current].thumb }}" width="100" class="img-circle">
      </div>
      <button ng-show="product.canBuy" class="pull-right">Add to cart</button>

      <section ng-controller="PanelController as panel">
        <ul class="nav nav-pills">
          <li ng-class="{ active:panel.isSelected(1) }">
            <a href ng-click="panel.selectTab(1)">Description</a>
          </li>
          <li ng-class="{ active:panel.isSelected(2) }">
            <a href ng-click="panel.selectTab(2)">Specification</a>
          </li>
          <li ng-class="{ active:panel.isSelected(3) }">
            <a href ng-click="panel.selectTab(3)">Reviews</a>
          </li>
        </ul>

        <div class="panel" ng-show="panel.isSelected(1)">
          <h4>Description</h4>
          <blockquote>{{product.desc}}</blockquote>
        </div>

        <div class="panel" ng-show="panel.isSelected(2)">
          <h4>Specification</h4>
          <blockquote>Not yet</blockquote>
        </div>

        <div class="panel" ng-show="panel.isSelected(3)">
          <h4>Reviews</h4>
          <blockquote ng-repeat="review in product.reviews">
            <b>Stars: {{ review.stars }}</b>
            <p>{{ review.body }}</p>
            <cite>by {{ review.author }}</cite>
          </blockquote>

          <form name="reviewForm" role="form" ng-controller="ReviewController as reviewCntr" ng-submit="reviewCntr.addReview(product)">

            <blockquote>
              <b>Stars: {{ reviewCntr.review.stars }}</b>
              <p>{{ reviewCntr.review.body }}</p>
              <cite>by {{ reviewCntr.review.author }}</cite>
            </blockquote>

            <div class="form-group">
              <select class="form-control" ng-model="reviewCntr.review.stars">
                <option value="1">1 star</option>
                <option value="2">2 stars</option>
                <option value="3">3 stars</option>
                <option value="4">4 stars</option>
                <option value="5">5 stars</option>
              </select>
            </div>
            <div class="form-group">
              <textarea class="form-control" rows="3"  ng-model="reviewCntr.review.body"></textarea>
            </div>
            <div class="form-group form-inline">
              <label for="author">by: </label>
              <input class="form-control" id="author" type="email"  ng-model="reviewCntr.review.author"/>
              <input type="submit" class="btn btn-default" value="Submit">
            </div>

          </form>
        </div>
      </section>
    </li>
  </ul>

  <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
  <script type="text/javascript" src="app.js"></script>
</body>
</html>
